@import "tailwindcss";

:root {
  --background: #f8fafc;
  --background-card: #ffffff;
  --foreground: #0f172a;
  --foreground-muted: #64748b;

  --primary: #4f46e5;
  --secondary: #4b5563;
  --accent: #f59e0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --background-card: #18181b;
    --foreground: #f4f4f5;
    --foreground-muted: #a1a1aa;

    --primary: #6366f1;
    --secondary: #e4e4e7;
    --accent: #fbbf24;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-card: var(--background-card);
  --color-foreground: var(--foreground);
  --color-muted: var(--foreground-muted);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .btnPrimary {
    @apply px-4 py-2 rounded-lg bg-background dark:bg-foreground text-foreground dark:text-background cursor-pointer;
  }

  .btnSecondary {
    @apply px-4 py-2 rounded-lg bg-primary text-background cursor-pointer;
  }
}
